@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&family=League+Spartan&family=Lobster&family=Montserrat&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Sans&family=League+Spartan&family=Lobster&family=Montserrat&family=Trade+Winds&display=swap");

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      rgba(5, 10, 5, 0.171),
      rgba(13, 98, 168, 0.39)
    ),
    url(../img/font.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
}

/* logo  */
.logo {
  width: 9rem;
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 20px;
}

/* boton buscar */
.search {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

header form input[type="text"] {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

header form button[type="submit"] {
  padding: 10px 20px;
  background-color: #060606;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* nav */
nav {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

nav ul li {
  flex: 1;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
}

/* Nav Linea subrayado*/
nav ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #219ebc;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.4s ease-out;
}

nav .sub-menu li:hover::before {
  width: 100%;
}

nav ul li:hover::before {
  width: 100%;
}

/*Nav Sub Menu */

.sub-menu {
  z-index: 1;
  display: none;
}

nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px;
  background-color: black;
}

/*Nav Submenu-Submenu*/

.sub-menu2 {
  z-index: 1;
  display: none;
}

nav ul li ul li:hover .sub-menu2 {
  display: block;
  left: 100%;
  padding: 5px;
  background-color: rgb(44, 44, 44);
}

/*carrusel*/
.slider {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide img {
  max-width: 100%;
  border: none;
}

/* grid  */

.fila {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.fila::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  position: absolute;
  bottom: 0%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.scroll-left {
  left: 20px;
}

.scroll-right {
  right: 20px;
}

.scroll-btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.fila.grid {
  position: relative;
  margin: 25px;
  display: flex;
  scroll-snap-align: start;
}

.card {
  width: 360px;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgb(48, 47, 47);
  flex-shrink: 0;
  margin-right: 1.5rem;
  scroll-snap-stop: always;
}

.card img {
  height: 320px;
  max-width: 100%;
  transition: opacity 400ms ease-in-out;
  cursor: pointer;
}

.card .footer-card {
  clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0 100%);
  background-color: #003a69c0;
  padding: 0.8rem;
  width: 100%;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card:hover {
  background-color: rgba(223, 223, 223, 0.986);
  transition: 400ms ease-in-out all;
}

.card .footer-card p {
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
}

.card .footer-card p:first-child {
  font-weight: bold;
}

.card .footer-card a {
  background-color: #1547b1;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  align-self: center;
}
.card .footer-card a:hover {
  background-color: #0c2f7a;
  transition: 400ms ease-in-out all;
}

a {
  text-decoration: none;
}

.promos {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

img.promodeizq {
  max-width: 100%;
  padding: 10px;
}

img {
  filter: brightness(80%);
  transition: 400ms ease-in-out all;
}

img:hover {
  filter: brightness(100%);
}

img.promodeder {
  max-width: 100%;
  padding: 10px;
}

/*Barra info*/
.Tuidea {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  max-width: 100%;
}

.imgidea {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2rem;
}
/*boton wsap*/

.wsap {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.wsap img {
  height: 50px;
}

.wsap:hover {
  transform: scale(1.5);
}

/* Quienes Somos */

/* Footer */

footer {
  background-color: #222;
  color: white;
  padding: 10px 0;
}

footer .pie {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer iframe {
  width: 100%;
  max-width: 450px;
}

.copy {
  padding-top: 0.5em;
  text-align: center;
}
